---
import Layout from '@/layouts/Layout.astro';

import Bg from '@/assets/svg/background.svg';
import InstallIco from '@/assets/svg/install-desktop.svg';
import GithubIco from '@/assets/svg/github.svg';

const compatibleWebsites = [
	{ name: '大阪公立大学', url: 'lms.omu.ac.jp' },
	{ name: '九州大学', url: 'moodle.s.kyushu-u.ac.jp' },
	{ name: '会津大学', url: 'elms.u-aizu.ac.jp' },
	{ name: '滋賀大学', url: 'sulms.shiga-u.ac.jp' },
	{ name: '群馬大学', url: 'mdl.media.gunma-u.ac.jp' },
	{ name: '愛知工業大学', url: 'cms.aitech.ac.jp' },
];

const experimentalCompatibleWebsites = [
	{ name: '三重大学 (v4.1のみ)', url: 'lms-m41.mie-u.ac.jp' },
	{ name: 'Waseda Moodle', url: 'wsdmoodle.waseda.jp' },
];
---

<Layout>
	<div class="relative min-h-screen flex items-center justify-center px-8 py-16">
		<Bg class="absolute top-0 left-0 w-full h-full object-cover blur-3xl"></Bg>
		<div class="relative">
			<h1 class="text-3xl lg:text-4xl font-bold text-center mb-4">Moodle Plus</h1>
			<p class="text-center text-sm lg:text-base mb-8">あなたのMoodleにちょっとした機能を追加するブラウザ拡張機能です！</p>
			<div class="mb-8">
				<a href="/get" class="block w-max mx-auto bg-primary-500 hover:bg-primary-400 text-white font-bold py-2 px-6 rounded-full text-center mb-2">
					<InstallIco class="_icon h-5 mr-1.5" />インストール
				</a>
				<div class="text-center text-xs opacity-70">パソコン版のChrome, Firefox, Edgeに対応しています</div>
			</div>
			<img src="/img/screenshot_01.png" alt="Moodle Plus" class="w-full max-w-xl mx-auto rounded-xl mb-8" />
			<details class="w-full max-w-xl mx-auto rounded-xl bg-white dark:bg-gray-800 border border-gray-300 dark:border-gray-700 overflow-clip group mb-8">
				<summary class="text-sm px-4 py-2 bg-white dark:bg-gray-800 hover:bg-gray-100 dark:hover:bg-gray-700 group-open:border-b border-gray-300 dark:border-gray-700 cursor-pointer">対応校（Moodleサイト）一覧</summary>
				<div class="p-4 text-sm">
					<h2 class="font-bold">対応</h2>
					<p class="mb-3 text-xs opacity-70">これらのMoodleではMoodle Plusの動作確認ができています。</p>
					<ul class="pl-6 list-[revert] space-y-1 mb-6">
						{compatibleWebsites.map((w) => (
							<li>{w.name}（<code class="rounded bg-gray-100 dark:bg-gray-700 px-1 py-0.5 text-xs font-mono">{w.url}</code>）</li>
						))}
					</ul>
					<h2 class="font-bold">試験対応中</h2>
					<p class="mb-3 text-xs opacity-70">
						これらのMoodleでは動作テストが不十分なため、試験対応中としています。<br>
						動作中に問題が発生した場合は拡張機能を無効化してください。
					</p>
					<ul class="pl-6 list-[revert] space-y-1 mb-6">
						{experimentalCompatibleWebsites.map((w) => (
							<li>{w.name}（<code class="rounded bg-gray-100 dark:bg-gray-700 px-1 py-0.5 text-xs font-mono">{w.url}</code>）</li>
						))}
					</ul>
					<p class="text-sm">
						対応校の追加は<a href="https://github.com/tomo0611/moodle-plus/issues/new?template=02_university-request.yml" target="_blank" rel="noopener noreferrer" class="text-primary-500 hover:text-primary-400 hover:underline underline-offset-2">こちらからリクエスト</a>できます！（GitHubアカウントが必要です。）
					</p>
				</div>
			</details>
			<div class="opacity-70 text-xs leading-relaxed text-center max-w-2xl">
				<p>
					この拡張機能は、Moodle ProjectやMoodleを使用する機関とは一切関係ありません。自己責任でお使いください。<br>
					This extension is not affiliated with or endorsed by the Moodle Project or any institution using Moodle. Use at your own risk.
				</p>
				<p>&copy; 2023-present tomo0611 and contributors. Licensed under MIT</p>
				<p class="mt-2">
					<a href="https://github.com/tomo0611/moodle-plus" target="_blank" rel="noopener noreferrer" class="hover:opacity-70">
						<GithubIco class="inline-block h-6 w-6" />
					</a>	
				</p>
			</div>
		</div>
	</div>
</Layout>
