---
import '@/assets/css/global.css';

interface Props {
	title?: string;
	disableFonts?: boolean;
}

const { title, disableFonts } = Astro.props;
---

<!doctype html>
<html lang="ja">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<slot name="head" />
		{!disableFonts && (
			<link rel="preconnect" href="https://fonts.googleapis.com">
			<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
			<link href="https://fonts.googleapis.com/css2?family=BIZ+UDGothic:wght@400;700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
		)}
		<title>{title ?? 'Moodle Plus'}</title>
	</head>
	<body class="bg-white dark:bg-gray-950 text-gray-900 dark:text-white">
		<slot />
	</body>
</html>
